<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.a5.dao.QuestionDao">
    <select id="get" resultMap="questionBean">
		select
			a.`id` ,
			a.`answer_count` ,
			a.`avatar` ,
			a.`create_time` ,
			a.`description` ,
			a.`nick_name` ,
			a.`reading_count` ,
			a.`title` ,
			a.`wechat_user_id` ,
			a.`reply_count` ,
			a.`thumbsup_count` ,
			a.`modify_time` ,
			b.`biz_id` ,
			b.`biz_category` ,
			b.`object_type` ,
			b.`object_id` ,
			b.`create_user_id` ,
			b.`create_date` ,
			b.`update_user_id` ,
			b.`update_date` ,
			b.`company`
		FROM
			`question` as a
		left JOIN(
			select
				b.`id` as biz_id ,
				b.`biz_category` ,
				b.`object_type` ,
				b.`object_id` ,
				b.`create_user_id` ,
				b.`create_date` ,
				b.`update_user_id` ,
				b.`update_date` ,
				b.`company`
			from
				`biz_module` as b
			WHERE
				b.object_type = 'FAQS'
		) as b ON a.`id` = b.`object_id`

		where id = #{value}
	</select>

    <select id="list" resultMap="questionBean">
        select
        a.`id` ,
        a.`answer_count` ,
        a.`avatar` ,
        a.`create_time` ,
        a.`description` ,
        a.`nick_name` ,
        a.`reading_count` ,
        a.`title` ,
        a.`wechat_user_id` ,
        a.`reply_count` ,
        a.`thumbsup_count` ,
        a.`modify_time` ,
        b.`biz_id` ,
        b.`biz_category` ,
        b.`object_type` ,
        b.`object_id` ,
        b.`create_user_id` ,
        b.`create_date` ,
        b.`update_user_id` ,
        b.`update_date` ,
        b.`company`
        FROM
        `question` as a
        left JOIN(
        select
        b.`id` as biz_id ,
        b.`biz_category` ,
        b.`object_type` ,
        b.`object_id` ,
        b.`create_user_id` ,
        b.`create_date` ,
        b.`update_user_id` ,
        b.`update_date` ,
        b.`company`
        from
        `biz_module` as b
        WHERE
        b.object_type = 'FAQS'
        ) as b ON a.`id` = b.`object_id`

        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="answerCount != null and answerCount != ''">and answer_count = #{answerCount}</if>
            <if test="avatar != null and avatar != ''">and avatar = #{avatar}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="description != null and description != ''">and description = #{description}</if>
            <if test="nickName != null and nickName != ''">and nick_name = #{nickName}</if>
            <if test="readingCount != null and readingCount != ''">and reading_count = #{readingCount}</if>
            <if test="title != null and title != ''">and title like #{title}</if>
            <if test="wechatUserId != null and wechatUserId != ''">and wechat_user_id = #{wechatUserId}</if>
            <if test="replyCount != null and replyCount != ''">and reply_count = #{replyCount}</if>
            <if test="thumbsupCount != null and thumbsupCount != ''">and thumbsup_count = #{thumbsupCount}</if>
            <if test="modifyTime != null and modifyTime != ''">and modify_time = #{modifyTime}</if>

            <if test="company != null and company != ''">and company = #{company}</if>
            <if test="bizCategory != null and bizCategory != ''">and biz_category = #{bizCategory}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)
        FROM
        `question` as a
        left JOIN(
        select
        b.`id` as biz_id ,
        b.`biz_category` ,
        b.`object_type` ,
        b.`object_id` ,
        b.`create_user_id` ,
        b.`create_date` ,
        b.`update_user_id` ,
        b.`update_date` ,
        b.`company`
        from
        `biz_module` as b
        WHERE
        b.object_type = 'FAQS'
        ) as b ON a.`id` = b.`object_id`
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="answerCount != null and answerCount != ''">and answer_count = #{answerCount}</if>
            <if test="avatar != null and avatar != ''">and avatar = #{avatar}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="description != null and description != ''">and description = #{description}</if>
            <if test="nickName != null and nickName != ''">and nick_name = #{nickName}</if>
            <if test="readingCount != null and readingCount != ''">and reading_count = #{readingCount}</if>
            <if test="title != null and title != ''">and title = #{title}</if>
            <if test="wechatUserId != null and wechatUserId != ''">and wechat_user_id = #{wechatUserId}</if>
            <if test="replyCount != null and replyCount != ''">and reply_count = #{replyCount}</if>
            <if test="thumbsupCount != null and thumbsupCount != ''">and thumbsup_count = #{thumbsupCount}</if>
            <if test="modifyTime != null and modifyTime != ''">and modify_time = #{modifyTime}</if>

            <if test="company != null and company != ''">and company = #{company}</if>
            <if test="bizCategory != null and bizCategory != ''">and biz_category = #{bizCategory}</if>
        </where>
    </select>

    <resultMap type="com.bootdo.a5.domain.QuestionDO" id="questionBean" autoMapping="true">
        <result property="id" column="id"/>
        <association property="bizModuleDO" javaType="com.bootdo.a5.domain.BizModuleDO" autoMapping="true">
            <result property="id" column="biz_id"/>
        </association>
    </resultMap>

    <insert id="save" parameterType="com.bootdo.a5.domain.QuestionDO" useGeneratedKeys="true" keyProperty="id">
		insert into question
		(
			`answer_count`, 
			`avatar`, 
			`create_time`, 
			`description`, 
			`nick_name`, 
			`reading_count`, 
			`title`, 
			`wechat_user_id`, 
			`reply_count`, 
			`thumbsup_count`, 
			`modify_time`
		)
		values
		(
			#{answerCount}, 
			#{avatar}, 
			#{createTime}, 
			#{description}, 
			#{nickName}, 
			#{readingCount}, 
			#{title}, 
			#{wechatUserId}, 
			#{replyCount}, 
			#{thumbsupCount}, 
			#{modifyTime}
		)
	</insert>

    <update id="update" parameterType="com.bootdo.a5.domain.QuestionDO">
        update question
        <set>
            <if test="answerCount != null">`answer_count` = #{answerCount},</if>
            <if test="avatar != null">`avatar` = #{avatar},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="description != null">`description` = #{description},</if>
            <if test="nickName != null">`nick_name` = #{nickName},</if>
            <if test="readingCount != null">`reading_count` = #{readingCount},</if>
            <if test="title != null">`title` = #{title},</if>
            <if test="wechatUserId != null">`wechat_user_id` = #{wechatUserId},</if>
            <if test="replyCount != null">`reply_count` = #{replyCount},</if>
            <if test="thumbsupCount != null">`thumbsup_count` = #{thumbsupCount},</if>
            <if test="modifyTime != null">`modify_time` = #{modifyTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from question where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from question where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>