<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <input id="id" name="id" th:value="${fitnessActivity.id}" type="hidden">

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">选择公司：</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<select id="company" name="company" class="chosen-select-company"-->
                                        <!--data-placeholder="&#45;&#45; 选择公司 &#45;&#45;"-->
                                        <!--style="width:70%;"-->
                                        <!--tabindex="1">-->
                                    <!--<option value="" selected="selected">&#45;&#45;选择公司&#45;&#45;</option>-->
                                    <!--<option th:each="company :${companies}" class="checkbox-inline" th:value="${company.value}" th:text="${company.name}"></option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">选择板块：</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<select id="bizCategory" name="bizCategory" class="chosen-select-module"-->
                                        <!--data-placeholder="&#45;&#45; 选择业务板块 &#45;&#45;"-->
                                        <!--style="width:70%;"-->
                                        <!--tabindex="2">-->
                                    <!--<option value="">&#45;&#45;选择业务板块&#45;&#45;</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动标题：</label>
                            <div class="col-sm-8">
                                <input id="title" name="title" th:value="${fitnessActivity.title}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动描述：</label>
                            <div class="col-sm-8">
                                <textarea id="descrption" name="descrption" class="form-control" type="text"
                                          cols="50" rows="10">[[${fitnessActivity.descrption}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户id 创建人：</label>
                            <div class="col-sm-8">
                                <h3 th:text="${fitnessActivity.wechatUserId}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">昵称：</label>
                            <div class="col-sm-8">
                                <h3 th:text="${fitnessActivity.nickName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">头像：</label>
                            <div class="col-sm-8">
                                <img id="avatar" name="avatar" th:src="${fitnessActivity.avatar}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">开始时间：</label>
                            <div class="col-sm-8">
                                <input type="text" class="laydate-icon layer-date form-control" id="activityStartTime"
                                       name="activityStartTime"
                                       th:value="${fitnessActivity.activityStartTime}==null?null:${#dates.format(fitnessActivity.activityStartTime,'yyyy-MM-dd HH:mm:ss')}"
                                       placeholder="请选择截至日期"
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       style="background-color: #fff;"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">结束时间：</label>
                            <div class="col-sm-8">
                                <input type="text" class="laydate-icon layer-date form-control" id="activityEndTime"
                                       name="activityEndTime"
                                       th:value="${fitnessActivity.activityEndTime}==null?null:${#dates.format(fitnessActivity.activityEndTime,'yyyy-MM-dd HH:mm:ss')}"
                                       placeholder="请选择截至日期"
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       style="background-color: #fff;"/>
                            </div>
                        </div>
                        <div class=" form-group">
                                <label class="col-sm-3 control-label">评论数量：</label>
                                <div class="col-sm-8">
                                    <h3 th:text="${fitnessActivity.commentCount}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">最后修改时间：</label>
                                <div class="col-sm-8">
                                    <h3 th:text="${fitnessActivity.modifyTime}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">浏览量：</label>
                                <div class="col-sm-8">
                                    <input id="readingCount" name="readingCount"
                                           th:value="${fitnessActivity.readingCount}"
                                           class="form-control" type="text">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">保存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/a5/fitnessActivity/edit.js">
</script>
</body>
</html>
