<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${tags.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">标签名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${tags.name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">关联对象主键：</label>
								<div class="col-sm-8">
									<input id="objectId" name="objectId" th:value="${tags.objectId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">关联对象类型,从字典表获取object_type类型获得：</label>
								<div class="col-sm-8">
									<input id="objectType" name="objectType" th:value="${tags.objectType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createUserId" name="createUserId" th:value="${tags.createUserId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="createDate" name="createDate" th:value="${tags.createDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人：</label>
								<div class="col-sm-8">
									<input id="updateUserId" name="updateUserId" th:value="${tags.updateUserId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="updateDate" name="updateDate" th:value="${tags.updateDate}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/a5/tags/edit.js">
	</script>
</body>
</html>
